/*
    Document   : css/add_fixes.css
    Created on : 2016-08-11 12:15 PM
    Author     : ArtemZamuruev
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

/* ------------------------------------------------------------- */
/* ----Перенос из index.html размеров изображений--------- */
/* -------------------------------------------------------------- */

div.advantages__item:nth-child(1) div.advantages__image:nth-child(1) img{
    width: 126px;
    height: 123px;
}
div.advantages__item:nth-child(1) div.advantages__image:nth-child(2) img{
    width: 207px;
    height: 207px;
}
div.advantages__item:nth-child(1) div.advantages__image:nth-child(3) img{
    width: 126px;
    height: 123px;
}
div.advantages__item:nth-child(2) div.advantages__image img{
    width: 227px;
    height: 175px;
}
div.advantages__item:nth-child(3) div.advantages__image:nth-child(1) img{
    width: 231px;
    height: 232px;
}
div.advantages__item:nth-child(3) div.advantages__image:nth-child(2) img{
    width: 126px;
    height: 123px;
}
/* ------------------------------------------------------------- */


div.layout__content--type_inner{
    padding: 10px 60px;
}
div.menu__item{
    backface-visibility: hidden;
}
div.logo__content{
    color: #fff;
}
div.shedule__header{
    width: 50%;
    margin: auto;
}

div.forwho__main-item > div.forwho__icon{
    width: 280px;
}


/* Правка 22 */
div.tickets__layout{
    margin-top: 50px;
}

/* Правка 26 */
div.layout__footer{
    height: 60px;
}
div.layout__footer div.footer__content{
    align-items: initial;
}

/* Правка 24 */
div.tickets{
    padding: 80px 0 20px;
}

/*Правка 19*/
div.shedule{
    padding-top: 100px;
}

/*Правка 15 */
div.advantages__items{
    margin-top: 0px;
}
div.advantages__container{
    padding-top: 0px;
}
/* Частичная отмена правки 15 */
/* div.forwho{
    margin-bottom: 0px;
} */
div.forwho__content{
    padding-bottom: 0px;
    padding-top: 0px;
}
div.forwho__wrap{
    margin-top: 0px;
}
div.speakers__layout{
    padding-bottom: 0px;
}
div.forwho__main{
    height:100%;
}
div.forwho__menu{
    height: 100%;
}
div.forwho__content{
    height: 550px;
}

/* Правка 16.1 */
div.forwho__icon{
    opacity: 1;
    width: 250px;
}

/* Правка 5 */
div.buy{
    padding-bottom: 0px;
}

/* Правка 27 */
div.tickets{
    padding-bottom: 0px;
}
div.tickets__content{
    padding-bottom: 0px;
}

/* Правка 28 */
div.advantages__item:nth-child(1) .advantages__image:nth-child(2):before{
    left: -8px;
}
div.advantages__item:nth-child(3) .advantages__image:nth-child(1):before{
    left: -8px;
    top: -8px;
}

/* Правка 29 */
div.forwho__main-item:nth-child(1) div.forwho__icon{
    width: 290px;
    left: -200px;
    top: 0px;
}
div.forwho__main-item:nth-child(2) div.forwho__icon{
    width: 340px;
    left: -250px;
    top: -50px;
}
div.forwho__main-item:nth-child(3) div.forwho__icon{
   transform: rotate(30deg);
   width: 430px;
   left: -225px;
   top: -80px;
}
div.forwho__main-item:nth-child(4) div.forwho__icon{
    width: 405px;
    left: -270px;
    top: -100px;
}
div.forwho__main-item:nth-child(5) div.forwho__icon{
    width: 390px;
    left: -270px;
    top: 35px;
    transform: rotate(180deg);
}


/* Правка 7 */
/* TODO 
 * Порефакторить анимацию элементов на главной
 * вынести в файлы lazyloading
 * вместо добавления классов сделать удаление классов
 * удалить мусор из index.css
 */

h1.intro__header,
div.intro__label,
p.intro__desc{
    opacity: 0;
}
h1.intro__header.-sliced,
div.intro__label.-sliced,
p.intro__desc.-sliced{
    opacity: 1;
}


/* Правка 8 */
div.intro__content{
    padding-left:80px;
}
h1.intro__header.-sliced{
    left: -3px;
}

/* Правка 3 */
div.layout__item > a{
    position: relative;
}
 div.layout__item:nth-child(2) > a{
    top: -70px;
}
div.layout__item:nth-child(4) > a{
    top: -120px;
}
div.layout__item:nth-child(5) > a{
    top: -70px;
}
div.layout__item:nth-child(8) > a{
    top: -60px;
}

/* Правка 35 */
div.place__address{
    margin-left: 30px;
    margin-right: 70px;
    margin-top: 250px;
}
