/*
Document   : css/index_mobile.css
Created on : 2016-08-30 07:44 PM
Author     : ArtemZamuruev
Description:
*/


/*  
 *    @media min-width: 1500px
 */

@media(min-width: 1500px) {
    .tickets__content.layout__content {
        max-width: 1500px;
        min-width: 1280px;
    }
}


/* 
 *    @media max-width: 1280px
 */

@media (max-width: 1280px) {
    input[type='text'],
    input[type='password'] {
        width: 230px;
    }
    
    .day {
        margin-right: 40px;
    }
    .speakers {
        height: 702px;
    }
    .speakers__container {
        margin-left: 40px;
    }
    .speaker__item:nth-child(2) {
        left: 50px;
    }
    .speaker__item:nth-child(2) .speaker__image {
        width: 310px;
        height: 234px;
    }
    .speaker__item:nth-child(1) {
        margin-right: 0;
    }
    .speaker__item:nth-child(3) {
        margin-top: -100px;
        left: 210px;
        top: 421px;
    }
    .speaker__item:nth-child(3) .speaker__image {
        width: 203px;
        height: 246px;
    }
    .speaker__item:nth-child(3) .speaker__desc {
        margin-top: -86px;
    }
    .speaker__item:nth-child(4) {
        top: 240px;
        margin-left: 0;
        left: 380px;
    }
    .speaker__item:nth-child(4) .speaker__image {
        width: 148px;
        height: 112px;
    }
    .speaker__item:nth-child(4) .speaker__desc {
        margin-left: 50px;
    }
    .speaker__item:nth-child(5) {
        left: 434px;
        margin: 80px 0 0 0;
        top: 421px;
    }
    .speaker__item:nth-child(5) .speaker__image {
        width: 136px;
        height: 108px;
    }
    .speaker__item:nth-child(6) {
        margin-right: 0;
        right: -200px;
    }
    .forwho__main-item {
        margin-left: 0;
    }
    .advantages__item:nth-child(1) {
        z-index: 3;
    }
    .layout__content {
        padding: 0 80px;
    }
    .shedule__table {
        width: 70%;
    }
    .shedule__extend {
        width: 30%;
    }
    .table__row:nth-child(3) {
        font-size: 14px;
    }
}

/*  
 *    @media  max-width: 1024px
 */

@media (max-width: 1024px){

    /* Mobile intro date position fix */
    .header{
        color: rgb(255, 255, 255);
    }
    .intro__day{
        top: -100px;
    }

    .intro__header,
    .intro__label,
    .intro__desc{
        top: 0px; 
    }

    .header__buy{
        display: none;
        right: 80px;
        top: -10px;
    }
    /* End of the fix */

    .nav {
        display: none;
    }
    
    .intro__wrap {
        padding-left: 80px;
        box-sizing: border-box;
    }
    .intro__day {
        margin-right: -80px;
    }
    .speakers {
        height: auto;
    }
    .speakers__container {
        position: static;
        margin: 0;
        padding-top: 36px;
    }
    .speakers__header,
    .speakers__desc {
        max-width: 100%;
    }
    .speakers__header {
        margin-right: 60px;
        line-height: 41px;
    }
    .speakers__desc {
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 73px;
    }
    .speakers__items {
        margin: 0 -52px;
    }
    div.speakers__switcher{
        position: relative;
        left: 75%;
        top: 460px;
    } 
    .speaker__name {
        font-size: 30px;
        line-height: 35px;
    }
    .speaker__role {
        font-size: 18px;
        line-height: 20px;
    }
    .speaker__wrap {
        zoom: 1;
    }
    .speaker__wrap:after,
    .speaker__wrap:before {
        content: "";
        display: table;
    }
    .speaker__wrap:after {
        clear: both;
    }
    .speaker__item {
        position: relative;
        right: auto !important;
        left: auto !important;
        top: auto !important;
    }
    .speaker__item:nth-child(1),
    .speaker__item:nth-child(6) {
        display: none;
    }
    .speaker__item:nth-child(2) {
        width: 66%;
    }
    .speaker__item:nth-child(2) .speaker__image {
        width: 100%;
        padding-top: 81%;
        height: 0;
    }
    .speaker__item:nth-child(2) .speaker__desc {
        margin-left: 52px;
        margin-top: 33px;
    }
    .speaker__item:nth-child(3) {
        width: 28.5%;
        float: right;
        margin-top: 16%;
    }
    .speaker__item:nth-child(3) .speaker__image {
        width: 100%;
        padding-top: 87%;
        height: 0;
    }
    .speaker__item:nth-child(3) .speaker__name {
        font-size: 24px;
        line-height: 30px;
    }
    .speaker__item:nth-child(3) .speaker__desc {
        color: #fffef7;
        margin-top: 20px;
        margin-left: 0;
    }
    .speaker__item:nth-child(4) {
        clear: left;
        width: 31%;
        float: left;
        margin-top: 7%;
        left: 52px !important;
    }
    .speaker__item:nth-child(4) .speaker__image {
        width: 100%;
        padding-top: 81%;
        height: 0;
    }
    .speaker__item:nth-child(4) .speaker__desc {
        color: #fffef7;
        margin-top: -22px;
        margin-left: 0;
        font-size: 28px;
        line-height: 32px;
    }
    .speaker__item:nth-child(5) {
        width: 45%;
        float: right;
        margin-right: 52px;
        margin-top: -47px;
    }
    .speaker__item:nth-child(5) .speaker__image {
        width: 100%;
        padding-top: 117%;
        height: 0;
    }
    .speaker__item:nth-child(5) .speaker__desc {
        left: 0;
        bottom: 22px;
        color: #0a0a0e;
    }
    .speaker__item:nth-child(5) .speaker__role {
        color: #0a0a0e;
    }
    .speaker__item:nth-child(5) .speaker__name {
        font-size: 27px;
        line-height: 32px;
    }
    .layout__content {
        padding-left: 52px;
        padding-right: 52px;
    }
    .form{
        display: block;
    }
    .form__item{
        width: 200px;
        margin: auto;
        margin-top: 30px;
    }
    .form__item:last-child{
        text-align: center;
    }
    
    /*  Place layout   */
    div.place__layout div.place__rumble{
        display:none;
    }
    div.place__layout div.place__map{
        width:100%;
        right: 0;
        margin: 0;
    }
    div.place__layout div.place__date{
        left: 0;
        margin:0;
    }
    
    div.place__layout div.place__date div.day__wrap{
        top: 20px;
        bottom: 0;
        left: 100px;
    }
    
    div.place__layout div.place__image{
        top: 230px;
        left: 75px;
    }
    div.place__layout div.place__image img{
        width:230px;
        height: 185px;
    }
    
    
/*  Contacts layout    */
    div.contacts{
        padding-bottom: 160px;
    }
    
    div.contacts__label{
        width: 90%;
    }
    
    div.contacts__rules{
        width: 75%;
        font-size: 15px;
        margin: auto;
        margin-top: 30px;
    }
    
    
    div.form__item{
        width: 75%;
    }
    div.form__item input{
        width: 100%;
        height: 50px;
    }
    
    div.contacts__more{
        width: 90%;
        margin-bottom: 50px;
        margin-top: 50px;
        font-weight:400;
        font-size:20px;
    }
    
    div.contacts__item--type_name{
        width: 100%;
        position: relative;
        top: -40px;
        left: 35%;
    }
    div.contacts__item--type_phone{
        width: 100%;
        position: relative;
        left: -15%;
    }
    div.contacts__item--type_mail{
        width: 100%;
        position: relative;
        left: -15%;
    }
    
    
    div.advantages__content p{
    }
    
    div.contacts__buy{
        display: block;
        width:220px;
        margin: 70px auto;
        text-align: center;
    }
    
    div.contacts__buy div.buy__value{
        font-size: 36px;
        line-height: 40px;
        text-align: center;
    }
    
}

/*  
 *    @media max-width: 768px
 */

@media (max-width: 768px) {
    
/*   Common   */
    html,
    body {
        font-size: 21px;
        line-height: 25px;
    }
    div.layout__content{
        padding: 0px 52px;
    }
    
    
/* Header */
    div.layout__header{
        height: 90px;
    }
    .header {
        padding-top: 52px;
    }
    .header.-js-inner {
        padding-top: 0;
    }
    .header.-js-inner .logo__image svg {
        width: 53px;
        height: 49px;
    }
    .header__logo {
        left: 52px;
    }
    .header__buy {
        display: none;
    }
    .logo__content {
        display: none;
    }
    .logo__image svg {
        width: 68px;
        height: 64px;
    }
    
/* Intro Layout */
    .intro {
        padding: 0;
    }
    .intro__content {
        min-height: 960px;
    }
    .intro__wrap {
        padding-left: 0;
/*         margin-top: 10px; */
        margin: 0px;
        top: -80px;
    }
    div.intro__day {
        right: auto;
        left: 0;
        top: 0;
    }
    .intro__label {
        display: none;
    }
    .intro__desc {
        font-size: 30px;
        line-height: 41px;
        max-width: none;
    }
    .intro__header {
        font-size: 107px;
        letter-spacing: 0.035em;
        margin-left: 170px;
        max-width: 50%;
    }
    .buy--size_big:after {
        height: 10px;
    }
    .buy--size_big .buy__value {
        font-size: 36px;
        line-height: 42px;
    }
    .buy--size_big:after {
        height: 15px;
    }
    .day__mount {
        margin-left: 0;
    }
    
/*   Speakers Layout   */
    .speakers__content {
        padding-bottom: 56px;
    }
    
/* ForWho Layout */
    .forwho {
        margin-bottom: 0;
    }
    .forwho__menu {
        display: none;
    }
    .forwho__main {
        height: 457px;
        float: none;
    }
    .forwho__main-item {
        padding-left: 90px;
    }
    .forwho__icon {
        top: -37px;
        left: -65px;
    }
    .forwho__content {
        height: auto;
        padding-bottom: 55px !important;
    }
    .forwho__wrap {
        margin-bottom: 0;
    }
    
    
    div.forwho__main div.forwho__label,
    div.forwho__main div.forwho__header,
    div.forwho__main div.forwho__text {
      margin-left: 10%;
    }
    div.forwho__main-item:nth-child(1) div.forwho__icon{
        left: -50px;
    }
    
    
/* Advantages Layout */
    .advantages__items {
        margin-left: -52px;
    }
    .advantages__container {
        padding-bottom: 35px !important;
    }
    .advantages__item:nth-child(1) .advantages__header {
        margin-left: 53px;
        margin-bottom: -38px;
    }
    .advantages__item:nth-child(1) .advantages__content {
        margin-left: 38px;
        width: 313px;
    }
    .advantages__item:nth-child(1) .advantages__image:nth-child(2) {
        margin: -78px 0 0 62px;
    }
    .advantages__item:nth-child(1) .advantages__image:nth-child(2):before {
        width: 124px;
        height: 104px;
    }
    .advantages__item:nth-child(1) .advantages__image:nth-child(2) img {
        width: 173px;
        height: 173px;
    }
    .advantages__item:nth-child(1) .advantages__image:nth-child(3) {
        margin: -24px 0 0 31px;
    }
    .advantages__item:nth-child(1) .advantages__image:nth-child(3) img {
        width: 100px;
        height: 97px;
    }
    .advantages__item:nth-child(2) {
        margin-left: 0;
        margin-top: 80px;
    }
    .advantages__item:nth-child(2) .advantages__header {
        left: 270px;
        top: 30px;
    }
    .advantages__item:nth-child(2) .advantages__content {
        position: absolute;
        left: 270px;
        width: auto;
        right: 52px;
        margin: 0;
        top: 90px;
    }
    .advantages__item:nth-child(3) {
        position: static;
    }
    .advantages__item:nth-child(3) .advantages__header {
        margin: 50px 0 0 272px;
    }
    .advantages__item:nth-child(3) .advantages__content {
        margin-left: 272px;
        max-width: none;
    }
    .advantages__item:nth-child(3) .advantages__box {
        float: left;
    }
    .advantages__item:nth-child(3) .advantages__image:nth-child(1) {
        margin: 70px 0 0 22px;
    }
    .advantages__item:nth-child(3) .advantages__image:nth-child(1):before {
        bottom: auto;
        top: -9px;
    }
    .advantages__item:nth-child(3) .advantages__image:nth-child(1) img {
        width: 191px;
        height: 192px;
    }
    .advantages__item:nth-child(3) .advantages__image:nth-child(2) {
        margin: -75px 0 0 110px;
    }
    
/* Shedule Layout */
    .shedule__icons {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .shedule__extend {
        display: none;
    }
    .shedule__table {
        width: 100%;
        padding-right: 0;
    }
    .shedule__label {
        max-width: 300px;
        margin: 40px auto 0;
    }
    .shedule__icon-wrap {
        width: 100%;
        margin: 0 0 80px;
    }
    .shedule__icon-wrap:nth-child(1) .shedule__icon-front svg {
        width: 132px;
        height: 143px;
    }
    .shedule__icon-wrap:nth-child(1) .shedule__icon-back {
        -webkit-transform: rotate(-30deg) translate(-21px, -46px);
        transform: rotate(-30deg) translate(-21px, -46px);
        width: 98px;
        height: 20px;
    }
    .shedule__icon-wrap:nth-child(2) .shedule__icon-front svg {
        width: 136px;
        height: 141px;
    }
    .shedule__icon-wrap:nth-child(2) .shedule__icon-back {
        width: 48px;
        height: 48px;
        border-width: 38px;
        margin: -72px 0 0 -50px;
    }
    .shedule__icon-wrap:nth-child(3) .shedule__icon-front svg {
        width: 164px;
        height: 109px;
    }
    .shedule__icon-wrap:nth-child(3) .shedule__icon-back {
        width: 150px;
        height: 55px;
        margin: -31px 0 0 -60px;
    }
    div.shedule__header{
        width: 90%;
    }
    
/* Tickets Layout */
    .tickets__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .tickets__item {
        width: 100%;
        max-width: 363px;
        margin: 0 auto 40px;
    }
    .tickets__label {
        font-size: 75px;
        margin-bottom: 20px;
        margin-left: -90px;
    }
    .tickets__box {
        padding-top: 120px;
        padding-left: 30px;
        padding-right: 30px;
        height: 455px;
    }
    .tickets__desc {
        font-size: 21px;
        line-height: 25px;
    }
    .tickets__desc-content {
        -webkit-transition-duration: 0 !important;
        transition-duration: 0 !important;
    }
    .tickets__desc legend {
        -webkit-transition-duration: 0 !important;
        transition-duration: 0 !important;
        font-size: 19px;
    }
    .tickets__desc fieldset {
        -webkit-transition-duration: 0 !important;
        transition-duration: 0 !important;
        height: 0;
    }
    .tickets__desc fieldset:hover {
        height: auto;
    }
    .tickets__price {
        font-size: 45px;
    }
    
/*  Place layout   */
    div.place__layout div.place__rumble{
        display:none;
    }
    div.place__layout div.place__map{
        width:100%;
        right: 0;
        margin: 0;
    }
    div.place__layout div.place__date{
        left: 0;
        margin:0;
    }
    
    div.place__layout div.place__date div.day__wrap{
        top: 20px;
        bottom: 0;
        left: 100px;
    }
    div.place__layout div.place__address{
        margin-top: 265px;
    }
    
    div.place__layout div.place__image{
        top: 230px;
        left: 75px;
    }
    div.place__layout div.place__image img{
        width:230px;
        height: 185px;
    }
    
    
/*  Contacts layout    */
    div.contacts{
        padding-bottom: 160px;
    }
    
    div.contacts__label{
        width: 90%;
    }
    
    div.contacts__rules{
        width: 75%;
        font-size: 15px;
        margin: auto;
        margin-top: 30px;
    }
    
    
    div.form__item{
        width: 75%;
    }
    div.form__item input{
        width: 100%;
        height: 50px;
    }
    
    div.contacts__more{
        width: 70%;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    
    div.contacts__item--type_name{
        width: 100%;
        position: relative;
        top: -40px;
        left: 35%;
    }
    div.contacts__item--type_phone{
        width: 100%;
        position: relative;
        left: -15%;
    }
    div.contacts__item--type_mail{
        width: 100%;
        position: relative;
        left: -15%;
    }
}
