/*
    Document   : css/mobile_menu.css
    Created on : 2016-07-29 03:26 PM
    Author     : ArtemZamuruev
    Description:
*/

.mobile__menu__icon{
    display: none;
}
div.current__menu__indicator{
    display: none;
}
