    /*
    Document   : css/mobile.css
    Created on : 2016-09-14 09:54 AM
    Author     : ArtemZamuruev
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

@media (min-width: 400px) and (max-width:1024px){

/* Common */
    div.layout__content{
        padding: 52px;
    }
    div.nav{
        display: none;
    }
    
/* Header */
       
    /*  div.layout__header    */
    div.layout__header.-sliced{
        height: 90px;
        top: 0px;
    }
    div.layout__header{
        height: 70px;
        top: -200px;
    } 
        /*header.header*/
        header.header.-js-inner{
            background-color: rgba(0,0,0, 0.85);
            box-shadow: 2.5px 4.3px 90px rgba(1,1,1,.9);
        }
    
            /*  div.header__logo    */
            header.header div.header__logo{
                height: auto;
                top: 52px;
                left: 52px;
            }
            header.header.-js-inner div.header__logo{
                top:20px;   
            }
    
                /*  logo__image    */
                header.header div.logo__image svg{
                    width: 68px;
                    height: 64px;
                }
                header.header.-js-inner div.logo__image svg{
                    width: 53px;
                    height: 49px;
                }
        
                /*   div.logo__content   */
                header.header div.logo__content{
                    display: none;
                }
    
                /*   div.header__menu   */
                div.layout__header div.menu{
                    position : absolute;
                    width: 100%;
                    height: 100vh;
                    font-size: 1.7em;
                    top: 0px;
                    left: 0px;
                    background-color: #0d0c19;
                    padding-top: 52px;
                    font-size: 30px;
                    line-height: 35px;
                    z-index: 100;
                }
                div.layout__header div.menu{
                    opacity: 0;
                }
                
                    /*div.mobile__menu__logo*/
                    div.mobile__menu__logo{
                        display: block;
                        z-index: 101;
                        margin-left: 52px;
                        width: 240px; 
                        float: left;
                    }
                        /*div.mobile__logo__image*/
                        div.mobile__menu__logo div.mobile__logo__image{
                            width: 53px;
                            float:left;
                        }
                                /*.logo__line*/
                                header.header div.mobile__menu__logo .logo__line{
                                    stroke: #fffef7;
                                }
                                header.header.-js-inner div.mobile__menu__logo .logo__line{
                                    stroke: #fffef7;
                                }
                        /*div.mobile__logo__content*/
                        div.mobile__logo__content{
                            font: 700 19px/26px kelson;
                            text-transform: uppercase;
                            color: #fffef7;
                            float: left;
                            margin-left: 10px;
                        }
                    
                    /*div.menu__item*/
                    div.layout__header div.menu__item{
                        display: block;
                        width: 260px;
                        text-align: center;
                        margin: 40px auto;
                        color: #fffef7;
                    }

                    div.layout__header div.menu__item:nth-child(3){
                        margin-top: 30%;
                    }
                        /*.header.-js-inner .menu__link:hover*/
                        header.header.-js-inner a.menu__link:hover{
                            color:#e01acb;
                        }
    
    /*div.mobile__menu__close*/
    div.mobile__menu__close{
        display: initial;
        float: right;
        position: relative;
        margin-right: 52px;
        top: 15px;
        width:75px;
        height:75px;
    }
        /*div.mobile__close__icon*/
        div.mobile__close__icon{
            width: 24px;
            height: 24px;
            background-image: url(../images/menu-close-icon.png);
            float: right;
        }
    
    div.mobile__menu__buy{
        display: initial;
        width: 40%;
        position: absolute;
        left: 30%;
        bottom: 150px;
        text-align: center;
    }
    
    div.mobile__menu__buy div.buy__value{
        font-size: 36px;
        line-height: 52px;
    }
    
    
    /*  div.current__menu__indicator    */
    div.current__menu__indicator{
        display: block;
        position: absolute;
        top: 20px;
        right: 100px;
        color: #e01acb;
        text-transform: uppercase;
        text-align: right;
        font-weight: 400;
        font-size: 23px;
        line-height: 27px;
        top: 63px;
    }
    header.header.-js-inner div.current__menu__indicator{
        top: 33px;
    }
    
    /*  div.mobile__menu__icon    */
    div.mobile__menu__icon{
        display: block;
        position: absolute;
        font-size: 2em;
        top: 15px;
        right: 20px;
        height: 40px;
        width: 40px;
        background-image: url("../images/burger-imenu-icon.png");
        background-size: cover;
    }
    header.header div.mobile__menu__icon{
        height: 70px;
        width: 70px;
        top: 65px;
        right: 52px;
        background-size: 32px 27px;
        background-repeat: no-repeat;
        background-position: right top;
    }
    header.header.-js-inner div.mobile__menu__icon{
        top:32px;
    }
    div.mobile__menu__icon a{
        text-decoration: none;
        color: #fffef7;
    }
    
    /*  div.header__buy    */
    header.header div.header__buy{
        display: none;
    }
    
    
/* Intro layout */
    div.intro{
        padding: 0;
    }
    div.intro__content{
        justify-content: initial;
        align-items: initial;
    }
    div.intro__wrap{
        margin-top: 150px;
    }
    h1.intro__header{
        width: 60%;
        font-size: 120px;
        line-height: 100px;
        margin-left:170px;
    }
    div.intro__label{
        display: none;
    }
    div.intro__day{
        right: 0px;
        left: -200px;
        width: 125px;
    }
    div.intro__day.-sliced{
        left: 0px;
        top: 10px;
    }
    div.day__digit{
        font-size: 152px;
        line-height: 90px;
        position: relative;
        left: -20px;
    }
    div.day__mount{
        font-size: 24px;
        line-height: 24px;
        margin-top: 30px;
        margin-left: 0;
    }
    div.day__year{
        margin-top: 4px;
    }
    p.intro__desc{
        margin-top: 50px;
        margin-bottom: 100px;
        max-width: 500px;
        font-size: 30px;
        font-weight: 400;
        line-height: 40px;
        text-align: start;
    }
    div.intro__buy div.buy__value{
        font-size: 36px;
        line-height: 50px;
    }
    div.intro__buy div.buy:after{
        left: initial;
        width: 100%;
        
    }
    
    div.footer__social.-intro-social{
        display: initial;
        margin-top: 120px;
        margin-right: 0px;
        text-align: right;
    }
    div.footer__social.-intro-social div.social{
        display: inline-block
    }
    div.footer__social.-intro-social div.social__item{
        margin-left: 32px;
    }
    div.footer__social.-intro-social a.social__link{
        width: 42px;
        height: 42px;
    }
    
/* Speakers layout */
    div.speakers{
        height: 1500px;
    }
    div.speakers__layout>a{
        top: -100px;
    }
    div.speakers__container{
        position: absolute;
        left: initial;
        padding: 0;
        margin: 0;
    }
    h2.speakers__header{
        max-width: 70%;
        font-size: 34px;
        line-height: 42px;
    }
    p.speakers__desc{
        font-size: 27px;
        line-height: 37px;
        max-width: 80%;
    }
    
    div.speakers__items{
        position: relative;
        top:500px;
        margin:0;
        margin-top: 40px;
    }
    
    div.speaker__name{
        font-size: 30px;
        line-height: 35px;
    }
    div.speaker__role{
        font-size: 18px;
        line-height: 26px;
    }
    div.speaker__item:nth-child(1),
    div.speaker__item:nth-child(6){
        display: none;
    }
    div.speaker__item:nth-child(2){
        left: -52px;
        top:initial;
    }
    div.speaker__item:nth-child(2) div.speaker__desc{
        margin-left:52px;
        margin-top:40px;
    }
    div.speaker__item:nth-child(3){
        left:initial;
        right: 0px;
        top: 500px;
        margin: 0;
    }
    div.speaker__item:nth-child(3) div.speaker__image{
        width: 290px;
        height: 340px;
    }
    div.speaker__item:nth-child(4){
        left: 0;
        margin: 0;
        top: 580px;
    }
    div.speaker__item:nth-child(4) div.speaker__image{
        opacity: 1;
    }
    div.speaker__item:nth-child(4) div.speaker__desc{
        margin: -35px 0 0 0;
    }
    div.speaker__item:nth-child(5){
        margin: 0;
        left:initial;
        right:-52px;
        top:100px;
    }
    div.speaker__item:nth-child(5) div.speaker__desc{
        margin: 25px 0px;
    }
    
    div.speakers__switcher{
        top:550px;
        left:initial;
        right: 36px;
        position: absolute;
        margin-top: 40px;
    }
    div.speakers__switcher div{
        width: 75px;
        height: 75px;
        background-size: 50px 30px;
    }
    
/* ForWho layout */
    
    div.forwho{
        margin-top: 180px;
    }
    div.forwho__layout>a{
        top:-100px!important;
    }
    div.forwho__label{
        margin-top: 50px;
        font-size: 25px;
        line-height: 40px;
    }
    div.forwho__text{
        font-size: 25px;
        line-height: 30px;
    }
    div.forwho__main-item{
        margin-left: 100px;
        width:80%;
        
    }
    
    div.forwho__main-item:nth-child(3){
        margin-left: 10px;
    }
    
    div.forwho__main-item:nth-child(1) div.forwho__icon{
        top: -35px;
        left: -150px;
    }
    div.forwho__main-item:nth-child(2) div.forwho__icon{
        left: -150px;
    }
    div.forwho__main-item:nth-child(3) div.forwho__icon{
        left: -100px;
        left: 0;
    }
    div.forwho__main-item:nth-child(4) div.forwho__icon{
        left: -150px;
    }
    div.forwho__main-item:nth-child(5) div.forwho__icon{
        left: 140px;
        left: -140px;
        top: 100px;
    }

/* Advantages layout */
    div.advantages__layout>a{
        top: -80px!important;
    }
    
    div.advantages__items > div.advantages__item{
        position: relative;
        left: -52px;
    }
    div.advantages__content p{
        font-size: 24px;
        line-height: 30px;
    }
    div.advantages__item:nth-child(1) div.advantages__content{
        margin-left: 30px;
        margin-top: 10px;
        width: 290px;
    }
    
    div.advantages__item:nth-child(2){
        margin: 0;
        margin-top: 30px;
    }
    div.advantages__item:nth-child(2) div.advantages__box{
        float: left;
    }
    div.advantages__item:nth-child(2) div.advantages__header {
        top: 15px;
        left: 285px;
    }
    div.advantages__item:nth-child(2) div.advantages__content{
        margin: 75px 0 0 65px;
        float: left;
        width: 290px;
    }
    
    
    div.advantages__item:nth-child(3) div.advantages__box{
        float: left;
    }
    div.advantages__item:nth-child(3) div.advantages__image:nth-child(1){
        margin: 90px 75px 0 20px;
    }
    div.advantages__item:nth-child(3) div.advantages__image:nth-child(2){
        margin: -80px 0 0 100px;
        z-index: 1;
    }
    div.advantages__item:nth-child(3) div.advantages__content{
        max-width: 305px;
        margin-left: 0px;
        float: left;
    }
    
    
    
    div.advantages__item:nth-child(1) div.advantages__image:nth-child(1) img{
        width: 105px;
        height: 125px;
    }
    div.advantages__item:nth-child(1) div.advantages__image:nth-child(2) img{
        width: 169px;
        height: 169px;
    }
    div.advantages__item:nth-child(1) div.advantages__image:nth-child(2){
        margin-left: 60px;
    }
    div.advantages__item:nth-child(1) div.advantages__image:nth-child(2):before{
        width: 143px;
        height: 117px;
    }
    div.advantages__item:nth-child(1) div.advantages__image:nth-child(3) img{
        width: 103px;
        height: 100px;
    }
    div.advantages__item:nth-child(1) div.advantages__image:nth-child(3){
        left: 25px;
    }
    div.advantages__item:nth-child(2) div.advantages__image img{
        width: 219px;
        height: 177px;
    }
    div.advantages__item:nth-child(3) div.advantages__image:nth-child(1) img{
        width: 193px;
        height: 194px;
    }
    div.advantages__item:nth-child(3) div.advantages__image:nth-child(2) img{
        width: 128px;
        height: 125px;
    }
    
/* Shedule layout */
    
    
    div.shedule__header{
        font: 30px/50px kelson;
        font-weight: 400;
        width: 110%;
        margin: 0 -5% 0 -5%;
    }
    
    div.shedule__layout > a{
        top: 80px!important;
    }
    div.shedule__icons{
        display: block;
    }
    div.shedule__icon-wrap{
        width: 330px;
        margin: auto;
        margin-bottom: 60px;
    }
    div.shedule__label{
        margin-top: 30px;
        font-size: 24px;
        line-height: 30px;
    }
    
    div.shedule__icon-wrap:nth-child(1) div.shedule__icon-front svg{
        width:132px!important;
        height: 143px!important;
    }
    div.shedule__icon-wrap:nth-child(1) div.shedule__icon-front div.shedule__icon-back{
        width:98px;
        height: 20px;
        transform: rotate(-30deg) translate(-20px, -44px);
    }
    div.shedule__icon-wrap:nth-child(2) div.shedule__icon-front svg{
        width:136px!important;
        height: 141px!important;
    }
    div.shedule__icon-wrap:nth-child(2) div.shedule__icon-front div.shedule__icon-back{
        width: 40px;
        height: 40px;
        top:35px;
        left:55px;
        border-width: 35px;
    }
    div.shedule__icon-wrap:nth-child(3) div.shedule__icon-front svg{
        width:164px!important;
        height: 109px!important;
    }
    div.shedule__icon-wrap:nth-child(3) div.shedule__icon-front div.shedule__icon-back{
        width: 150px;
        height: 55px;
        top:40px;
        left:63px;
    }
    
    
    div.shedule__extend{
        display: none;
    }
    div.shedule__table{
        width: 100%;
        padding-right: 0;
    }
    
    div.shedule__table div.table{
        font-size: 21px;
        line-height: 25px;
    }
    div.shedule__table div.table div.table__cell{
        height: 60px;
        padding: 6px;
    }
    
/* Tickets layout */
    
    div.tickets__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    div.tickets__item {
        width: 100%;
        max-width: 363px;
        margin: 0 auto 40px;
    }
    div.tickets__label {
        font-size: 75px;
        margin-bottom: 20px;
        margin-left: -90px;
    }
    div.tickets__box {
        padding-top: 120px;
        padding-left: 30px;
        padding-right: 30px;
        height: 455px;
    }
    div.tickets__desc {
        font-size: 21px;
        line-height: 25px;
    }
    div.tickets__desc-content {
        -webkit-transition-duration: 0 !important;
        transition-duration: 0 !important;
    }
    div.tickets__desc legend {
        -webkit-transition-duration: 0 !important;
        transition-duration: 0 !important;
        font-size: 19px;
    }
    div.tickets__desc fieldset {
        -webkit-transition-duration: 0 !important;
        transition-duration: 0 !important;
        height: 0;
    }
    div.tickets__desc fieldset:hover {
        height: auto;
    }
    div.tickets__price {
        font-size: 45px;
    }
    div.tickets__layout div.buy--size_big div.buy__value{
        line-height: 40px;
    }
    
/* Place layout */
    div.place__layout div.place__rumble{
        display:none;
    }
    div.place__layout div.place__map{
        width:100%;
        right: 0;
        margin: 0;
    }
    div.place__layout div.place__date{
        left: 0;
        margin:0;
        top: 40px;
    }
    div.place__layout div.place__date div.day__wrap{
        top: -10px;
        bottom: 0;
        left: 100px;
        margin-left: 50px;
    }
    div.place__layout div.place__address{
        margin-top: 205px;
    }
    div.place__layout div.place__image{
        position:absolute;
        right: -52px;
        bottom: -25px;
    }
    div.place__layout div.place__image img{
        width:230px;
        height: 185px;
    }
    
/*   Contacts   */
    div.contacts__label{
        font-size: 13px;
        line-height: 17px;
        max-width: 600px;
    }
    
    form.form{
        display: block;
    }
    div.form__item{
        width: 500px;
        margin: 20px auto;
        text-align:center;
    }
    div.form__item input[type='text']{
        width: 500px;
        height: 60px;
        font-size: 24px;
        line-height: 26px;
    } 
    
    div.form__item input[type='text']::-webkit-input-placeholder{
        font-size: 24px;
        line-height: 26px;
    }
    div.form__item input[type='text']:-moz-placeholder{
        font-size: 24px;
        line-height: 26px;        
    }
    div.form__item input[type='text']::-moz-placeholder{
        font-size: 24px;
        line-height: 26px;        
    }
    div.form__item input[type='text']:-ms-input-placeholder{
        font-size: 24px;
        line-height: 26px;
    }    
    
    div.form__item button[type='submit']{
        font-size: 30px;
        line-height: 35px;
        margin-top: 20px;
    }
    div.contacts__rules{
        font-size: 12px;
        max-width: 400px;
        margin: 30px auto;
    }
    div.contacts__more{
        font: 400 22px/36px kelson;
        max-width: 475px;
    }
    
    div.contacts__buy{
        display: block;
        width:220px;
        margin: 70px auto 0px auto;
        text-align: center;
    }
    
    div.contacts__buy div.buy__value{
        font-size: 36px;
        line-height: 50px;
        text-align: center;
    }
    div.contacts__buy:after{
        height: 10px;
    }
    
    div.contacts__add{
        width:450px;
        margin: 52px auto;
        flex-wrap: wrap;
    }
    
    div.contacts__item{
        text-align: center;
    }
    
    div.contacts__item--type_name{
        width: 300px;
        font-size: 30px;
        line-height: 50px;
    }
    
    div.contacts__item--type_mail,
    div.contacts__item--type_phone{
        font-size: 27px;
        line-height: 35px;
    }

/* Footer */
    div.layout__footer{
        position: initial;
    }
    div.footer__content{
        align-items: center;
        height: 160px;
        display: block;
    }
    div.footer__content div.social{
        max-width: 250px;
        margin: 0 auto;
    }
    div.footer__content div.social__item{
        margin-left: 50px;
    }
    div.footer__content div.social__item:nth-child(1){
        margin-left: 0px;
    }
    div.footer__content a.social__link{
        width: 50px;
        height: 50px;
    }
    div.footer__content div.footer__copyright{
        text-align: center;
        font-size: 21px;
        position: relative;
        top: 100px;
    }
}

/* Popup */

div.popup__container p{
    font-size: 20px;
    line-height: 25px;
}

div.popup__container h3.popup__speaker__role{
    font-size: 23px;
    line-height: 30px;
}


div.-none-display{
    display:none;
}