c-pink = #e01acb
c-yellow = #fff249
c-white = #fffef7
c-black = #0a0a0e

// t-bezier = cubic-bezier(.71,1,.85,.94)
t-bezier = cubic-bezier(.4,1,.66,.95)
t-dur = .5s

r-smallbook = 1280px
r-tablet = 1024px
r-mobile = 768px
