.footer

	&__social
		margin-right 10px

	&__copyright
		font-size 14px
		opacity .2

	&__content
		clear both
		overflow hidden
		display flex
		align-items center
		justify-content space-between
		height 110px
		max-width 1600px
		box-sizing border-box
		margin 0 auto
		padding 0 50px
