.place
	position relative
	padding-bottom 105px

	&__map
		height 400px
		position absolute
		left 0
		right 50%
		margin-right -97px
		top 150px

	&__house
		font 36px/46px kelson
		text-transform uppercase
		color c-white
		position relative

	&__address
		margin-left 20px
		float left
		max-width 280px
		margin-right 85px
		margin-top 172px

	&__content
		padding-top 248px
		clearfix()
		position relative
		pointer-events none

	&__date
		position absolute
		top 60px
		left 50%
		margin-left 125px

	&__image
		position relative
		float left

	&__rumble
		width 148px
		height 148px
		background-color c-pink
		float left
		margin 64px 0 0 81px
